@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --sidebar-bg: #1C2333;
  --color-bg-page: #F7F8FA;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background: var(--color-bg-page);
  color: var(--foreground);
}
